<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{titulo}} - Gestión de Cotizaciones</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/nprogress/nprogress.css" rel="stylesheet" />
    <link href="/assets/animate.css/animate.min.css" rel="stylesheet" />
    <link href="/assets/toastr/toastr.css" rel="stylesheet" />
    <link href="/assets/build/css/custom.css" rel="stylesheet" />
  </head>
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="frmlogin">
              <h1>Autenticación</h1>
              <div>
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre de Usuario"/>
              </div>
              <div>
                <input type="password" class="form-control" id="clave" name="clave" placeholder="Contraseña" />
              </div>
              <div>
                <label>{{ message }}</label>
              </div>
              <div>
                <a id="aceptar" class="btn btn-default" >Iniciar Sesión</a>
                <a href="#">¿Has olvidado los datos de la cuenta?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Nuevo en el sitio?
                  <a href="#signup" class="to_register"> Crear Cuenta </a>
                </p>
                <div class="clearfix"></div>
                <br />
                <div>
                  <h1><i class="fa fa-dollar"></i> Gestión de Cotizaciones </h1>
                  <p>©{{getAnio}} Todos los derechos reservados</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form>
              <h1>Crear Cuenta</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <a class="btn btn-default" href="/">Crear</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Ya eres usuario?
                  <a href="#signin" class="to_register"> Iniciar Sesión </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-dollar"></i> Gestión de Cotizaciones</h1>
                  <p>©{{getAnio}} Todos los derechos reservados</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>

    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/toastr/toastr.js"></script>
    <script src="/assets/build/js/cotigen.js"></script>
    <script>
      var terminado = "{{terminado}}";

      $(document).on("ready", function() {
        $("#aceptar").on("click", aceptar_click);
        $("#usuario").on("keyup", txt_keyup);
        $("#clave").on("keyup", txt_keyup);
        //$("#aceptar").attr("disabled", "disabled");
        //leerEmpresas();

        $("#usuario").trigger("focus");
        
        $("#usuario").val("admin");
        $("#clave").val("12345");

        if (terminado == "1") {
          //cerrar_sesion();
        }
      });

      function cerrar_sesion() {
        var svc0 = $.ajax({ type: "GET", url: "/api/usuario/salir" });
        svc0.done(function(data, textStatus, jqXHR){
        });
        svc0.fail(function(jqXHR, textStatus, errorThrown) {
        });
      }

      function aceptar_click() {
        if ($("#usuario").val().trim().length == 0 || $("#clave").val().trim().length == 0) {
          toastr.error("El usuario o clave son incorrectos. Intente nuevamente", "", {timeOut: 700});
          return;
        }

        var credenciales = $("#frmlogin").serializeArray();

        var svc0 = $.ajax({ type: "POST", url: "/api/usuario/login", data: credenciales });
        svc0.done(function(data, textStatus, jqXHR){
          if (data.ok) {
            var activacion = data.data[0];
            console.log(JSON.stringify(activacion));
            var svc1 = $.ajax({ type: "POST", url: "/sesion/iniciar", data: activacion });
            svc1.done(function(data1, textStatus, jqXHR) {
              if (data1.ok) {
                toastr.success(data1.message, "", {timeOut: 700});
                setTimeout(function(){ window.location.href = "/sesion/cambiarempresa" }, 700);
              }
            });
            svc1.fail(function(jqXHR, textStatus, errorThrown) {
              toastr.error(textStatus);
            });
            return;
          }
          toastr.error(data.message);
        });
        svc0.fail(function(jqXHR, textStatus, errorThrown) {
          toastr.error(textStatus);
        });
      }

      function txt_keyup(event){
        if (event.keyCode === 13) {
          event.preventDefault();
          $("#aceptar").trigger("click");
        }
      }

      function leerEmpresas(){
        var svcEmpresaCombo = $.ajax({type: "GET", url: "/api/empresa/list"});
        svcEmpresaCombo.done(function (data, textStatus, jqXHR) {
          $("#idEmpresa option").remove();
          $.each(data.data, function(i, item) {
              $("#idEmpresa").append(new Option(item.EmpresaAbrev, item.IdEmpresa));
          });
          $("#aceptar").removeAttr("disabled");
        });
        svcEmpresaCombo.fail(function (jqXHR, textStatus, errorThrown) {
          toastr.error(ERROR_NO_SERVICIO);
        });
      }
    </script>
  </body>
</html>