{{#extend "css"}}
<link href="/assets/toastr/toastr.css" rel="stylesheet">
{{/extend}}

<div class="right_col" role="main">
    <div class="clearfix"></div>
    <form id="formInfo">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información de Empresa</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="Info" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" id="idEmpresa" name="idEmpresa" value="{{obj.IdEmpresa}}" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ruc">RUC<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="ruc" class="form-control col-md-7 col-xs-12" name="ruc" value="{{obj.RUC}}" required="required" maxlength="15" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="empresa">Empresa<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="empresa" class="form-control col-md-7 col-xs-12" name="empresa" value="{{obj.Empresa}}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="empresaAbrev">Abreviatura<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="empresaAbrev" class="form-control col-md-7 col-xs-12" name="empresaAbrev" value="{{obj.EmpresaAbrev}}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="direccion">Dirección<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="direccion" class="form-control col-md-7 col-xs-12" name="direccion" value="{{obj.Direccion}}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telefono1">Teléfono #1</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="telefono1" class="form-control col-md-7 col-xs-12" name="telefono1" value="{{obj.Telefono1}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telefono2">Teléfono #2</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="telefono2" class="form-control col-md-7 col-xs-12" name="telefono2" value="{{obj.Telefono2}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="movil1">Móvil #1</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="movil1" class="form-control col-md-7 col-xs-12" name="movil1" value="{{obj.Movil1}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="movil2">Móvil #2</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="movil2" class="form-control col-md-7 col-xs-12" name="movil2" value="{{obj.Movil2}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Correo</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="email" class="form-control col-md-7 col-xs-12" name="email" value="{{obj.Email}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">URL</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="url" class="form-control col-md-7 col-xs-12" name="url" value="{{obj.URL}}" />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a id="action" class="btn btn-default submit">Grabar</a>
                                    <a id="cancel" class="btn btn-default submit">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var empresaId="{{empresaId}}";
</script>
{{#extend "js"}}
<script src="/assets/parsleyjs/dist/parsley.js"></script>
<script src="/assets/toastr/toastr.js"></script>
<script>
    $(document).on("ready", function () {
        init_parsley();
        // cargar la info de la empresa
        $("#idEmpresa").val(empresaId);
        if (empresaId > 0){
            leerEmpresa();
        }
    });

    function leerEmpresa() {
        var svcEmpresaCombo = $.ajax({ type: "GET", url: "/api/empresa/get?Id=" + empresaId });
        svcEmpresaCombo.done(function (data, textStatus, jqXHR) {
            //alert(JSON.stringify(data));
            if (data.ok) {
                var emp = data.data[0];
                $("#idEmpresa").val(emp.IdEmpresa);
                $("#ruc").val(emp.RUC);
                $("#empresa").val(emp.Empresa);
                $("#empresaAbrev").val(emp.EmpresaAbrev);
                $("#direccion").val(emp.Direccion);
                $("#telefono1").val(emp.Telefono1);
                $("#telefono2").val(emp.Telefono2);
                $("#movil1").val(emp.Movil1);
                $("#movil2").val(emp.Movil2);
                $("#email").val(emp.Email);
                $("#url").val(emp.URL);
            }
        });
        svcEmpresaCombo.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error("Error al obtener los datos de la empresa.");
        });
    }

    function init_parsley() {
        if (typeof (parsley) === 'undefined') { return; }
        console.log('init_parsley');

        var validateFront = function () {
            if (true === $('#Info').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };

        $/*.listen*/('parsley:field:validate', function () {
            validateFront();
        });

        $('#Info .btn').on('click', function () {
            $('#Info').parsley().validate();
            validateFront();
        });

        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }

    }

    function validarCampos() {
        if ($('#ruc').val() == '' || $('#empresa').val() == '' || $('#empresaAbrev').val() == '' || $('#direccion').val() == '') {
            return true;
        }
        else {
            return false;
        }
    }

    $("#action").click(function () {
        if (validarCampos())
            return;

        var data = $("#formInfo").serializeArray();

        $.post("/api/empresa/reg", data, function (result) {
            if (result.ok){
                toastr.success(result.message, '', { timeOut: 700 });
                setTimeout(function () { window.location.href = "/empresas/listar" }, 700);
            }
            else{
                toastr.error(result.message);
            }
        });
    })

    $('#cancel').click(function () {
        window.location.href = "/empresas/listar";
    });
</script>
{{/extend}}