{{#extend "css"}}
<link href="/assets/toastr/toastr.css" rel="stylesheet">
{{/extend}}

<div class="right_col" role="main">
    <div class="clearfix"></div>
    <form id="formInfo">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información de Producto</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="Info" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" id="idProducto" name="idProducto" value="{{obj.IdProducto}}" />
                            <input type="hidden" id="IdEmpresa" name="IdEmpresa" value="{{obj.IdEmpresa}}" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Codigo">Código <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="codigo" class="form-control col-md-7 col-xs-12" name="codigo" value="{{obj.Codigo}}" required="required" maxlength="15" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Producto">Descripción <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="producto" class="form-control col-md-7 col-xs-12" name="producto" value="{{obj.Producto}}" required="required" />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a id="action" class="btn btn-default submit">Grabar</a>
                                    <a id="cancel" class="btn btn-default submit">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var productoId = "{{productoId}}";
    var empresaId = "{{sesionActiva.IdEmpresa}}";
</script>
{{#extend "js"}}
<script src="/assets/parsleyjs/dist/parsley.js"></script>
<script src="/assets/toastr/toastr.js"></script>
<script>
    $(document).on("ready", function () {
        init_parsley();

        $("#idProducto").val(productoId);
        $("#IdEmpresa").val(empresaId);

        if (productoId > 0) {
            leerProducto();
        }
    });

    function leerProducto() {
        var svcGetCliente = $.ajax({ type: "GET", url: "/api/producto/get?Id=" + productoId });
        svcGetCliente.done(function (data, textStatus, jqXHR) {
            if (data.ok) {
                var obj = data.data[0];
                $("#idProducto").val(obj.IdProducto);
                $("#codigo").val(obj.Codigo);
                $("#producto").val(obj.Producto);
            }
        });
        svcGetCliente.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error("Error al obtener los datos del cliente.");
        });
    }

    function init_parsley() {
        if (typeof (parsley) === 'undefined') { return; }

        var validateFront = function () {
            if (true === $('#Info').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };

        $/*.listen*/('parsley:field:validate', function () {
            validateFront();
        });

        $('#Info .btn').on('click', function () {
            $('#Info').parsley().validate();
            validateFront();
        });

        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }

    }

    function validarCampos() {
        if ($('#RUC').val() == '' || $('#RazonSocial').val() == '' || $('#IdGiro').val() == '') {
            return true;
        }
        else {
            return false;
        }
    }

    $("#action").on("click", function () {
        if (validarCampos())
            return;

        var data = $("#formInfo").serializeArray();

        $.post("/api/producto/reg", data, function (result) {
            if (result.ok){
                toastr.success(result.message, '', { timeOut: 700 });
                setTimeout(function () { window.location.href = "/productos/listar" }, 700);
            }
            else{
                toastr.error(result.message);
            }
        });
    })

    $('#cancel').on("click", function () {
        window.location.href = "/productos/listar";
    });
</script>
{{/extend}}