{{#extend "css"}}
{{/extend}}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <form id="formInfo">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información de Sucursal de Cliente</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="Info" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" id="idClienteSucursal" name="idClienteSucursal" value="{{obj.IdClienteSucursal}}" />
                            <input type="hidden" id="idCliente" name="idCliente" value="{{obj.IdCliente}}" />
                            <input type="hidden" id="idEmpresa" name="idEmpresa" value="{{obj.IdEmpresa}}" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sucursal">Sucursal <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="sucursal" name="sucursal" class="form-control col-md-7 col-xs-12" value="{{obj.Sucursal}}" required="required" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="departamento">Departamento <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="departamento" name="departamento" class="form-control">
                                        <option>Cargando...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="provincia">Provincia <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="provincia" name="provincia" class="form-control">
                                        <option>Seleccione...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idUbigeo">Distrito <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="idUbigeo" name="idUbigeo" class="form-control">
                                        <option>Seleccione...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="direccion">Direccion <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="direccion" name="direccion" class="form-control col-md-7 col-xs-12" value="{{obj.Direccion}}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flagFiscal">Fiscal</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="flagFiscal" name="flagFiscal" class="form-control">
                                        <option value="0">No</option>
                                        <option value="1">Si</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="correo">Correo</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="correo" name="correo" class="form-control col-md-7 col-xs-12" value="{{obj.Correo}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telefono">Telefono</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="telefono" name="telefono" class="form-control col-md-7 col-xs-12" value="{{obj.Telefono}}" />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button id="grabar" class="btn btn-default">Grabar</button>
                                    <button id="cancelar" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var sucursalClienteId = "{{sucursalClienteId}}";
</script>
{{#extend "js"}}
<script src="/assets/parsleyjs/dist/parsley.js"></script>
<script>
    $(document).on("ready", function () {
        init_parsley();

        $("#idClienteSucursal").val(sucursalClienteId);
        $("#idEmpresa").val(g_empresaId);

        $("#grabar").on("click", grabar_click);
        $("#cancelar").on("click", cancelar_click);

        if (sucursalClienteId > 0) {
            leerSucursal();
        }
        else {
            leerDepartamentos();

            // activar eventos
            $("#departamento").on("change", departamento_change);
            $("#provincia").on("change", provincia_change);
        }
    });

    function leerDepartamentos() {
        $("#departamento option").remove();
        var svc0 = $.ajax({ 
            type: "GET", 
            url: PREFIJO_SERVICIO + "ubigeo/departamento",
            cache: false
        });
        svc0.done(function (result, textStatus, jqXHR) {
            if (result.ok) {
                var obj = result.data[0];
                $("#departamento").append(new Option("Seleccione...", ""));
                $.each(result.data, function(i, item) {
                    $("#departamento").append(new Option(item.DPTO, item.IdUbigeo));
                });
            }
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function leerProvincias(dep) {
        $("#provincia option").remove();
        var svc0 = $.ajax({ 
            type: "GET", 
            url: PREFIJO_SERVICIO + "ubigeo/provincia?idUbigeo=" + dep,
            cache: false
        });
        svc0.done(function (result, textStatus, jqXHR) {
            if (result.ok) {
                var obj = result.data[0];
                $("#provincia").append(new Option("Seleccione...", ""));
                $.each(result.data, function(i, item) {
                    $("#provincia").append(new Option(item.PROV, item.IdUbigeo));
                });
            }
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function leerDdistritos(prov) {
        $("#idUbigeo option").remove();
        var svc0 = $.ajax({ 
            type: "GET", 
            url: PREFIJO_SERVICIO + "ubigeo/distrito?idUbigeo=" + prov,
            cache: false
        });
        svc0.done(function (result, textStatus, jqXHR) {
            if (result.ok) {
                var obj = result.data[0];
                $("#idUbigeo").append(new Option("Seleccione...", ""));
                $.each(result.data, function(i, item) {
                    $("#idUbigeo").append(new Option(item.DIST, item.IdUbigeo));
                });
            }
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function leerSucursal() {
        var svc0 = $.ajax({ 
            type: "GET", 
            url: PREFIJO_SERVICIO + "clientesucursal/get?Id=" + sucursalClienteId  + "&idEmpresa=" + g_empresaId,
            cache: false
        });
        svc0.done(function (result, textStatus, jqXHR) {
            if (result.ok) {
                var obj = result.data[0];
                $("#idClienteSucursal").val(obj.IdClienteSucursal);
                $("#idCliente").val(obj.IdCliente);
                $("#idEmpresa").val(obj.IdEmpresa);
                $("#sucursal").val(obj.Sucursal);
                //$("#idUbigeo").val(obj.IdUbigeo);
                $("#direccion").val(obj.Direccion);
                $("#FlagFiscal").val(obj.FlagFiscal);
                $("#correo").val(obj.Correo);
                $("#telefono").val(obj.Telefono);

                $("#departamento option").remove();
                $("#provincia option").remove();
                $("#idUbigeo option").remove();

                $("#departamento").append(new Option("Seleccione...", ""));
                $.each(result.dataDPTO, function(i, item) {
                    $("#departamento").append(new Option(item.DPTO, item.IdUbigeo));
                });

                $("#provincia").append(new Option("Seleccione...", ""));
                $.each(result.dataPROV, function(i, item) {
                    $("#provincia").append(new Option(item.PROV, item.IdUbigeo));
                });

                $("#idUbigeo").append(new Option("Seleccione...", ""));
                $.each(result.dataDIST, function(i, item) {
                    $("#idUbigeo").append(new Option(item.DIST, item.IdUbigeo));
                });
                
                $("#departamento").val(obj.IdDPTO);
                $("#provincia").val(obj.IdPROV);
                $("#idUbigeo").val(obj.IdDIST);
                
                // ACTIVAR EVENTOS
                $("#departamento").on("change", departamento_change);
                $("#provincia").on("change", provincia_change);
            }
            else {
                toastr.error(ERROR_NO_SERVICIO);
            }
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function init_parsley() {
        if (typeof (parsley) === 'undefined') { return; }

        var validateFront = function () {
            if (true === $('#Info').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };

        $/*.listen*/('parsley:field:validate', function () {
            validateFront();
        });

        $('#Info .btn').on('click', function () {
            $('#Info').parsley().validate();
            validateFront();
        });

        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }

    }

    function validarCampos() {
        if ($('#sucursal').val() == '' || $('#direccion').val() == '' || $('#departamento').val() == '' || $('#provincia').val() == '' || $('#idUbigeo').val() == '') {
            return true;
        }
        else {
            return false;
        }
    }

    function departamento_change(event) {
        var ubi = $("#departamento").val();
        leerProvincias(ubi);
    }

    function provincia_change(event) {
        var ubi = $("#provincia").val();
        leerDdistritos(ubi);
    }

    function grabar_click(event) {
        event.preventDefault();
        if (validarCampos())
            return;

        var formData = $("#formInfo").serializeArray();

        var svc0 = $.ajax({
            type: "POST", 
            url: PREFIJO_SERVICIO + "clientesucursal/reg",
            data: formData
        });
        svc0.done(function(result, textStatus, jqXHR) {
            if (result.ok) {
                toastr.success(result.message, '', { timeOut: tst_Duration });
                setTimeout(function () { window.location.href = "/clientes/sucursal/" + $("#idCliente").val() }, tst_Duration);
            }
            else{
                toastr.error(result.message);
            }
        });
        svc0.fail(function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus);
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function cancelar_click(event) {
        event.preventDefault();
        window.location.href = "/clientes/sucursal/" + $("#idCliente").val();
    }
</script>
{{/extend}}