{{#extend "css"}}
{{/extend}}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <form id="formInfo">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información de Usuario</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="Info" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" id="idUsuario" name="idUsuario" value="{{obj.IdUsuario}}" />
                            <input type="hidden" id="IdEmpresa" name="IdEmpresa" value="{{obj.IdEmpresa}}" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RUC">RUC <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="RUC" class="form-control col-md-7 col-xs-12" name="RUC" value="{{obj.RUC}}" required="required" maxlength="15" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="razonSocial">Razon Social <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="razonSocial" class="form-control col-md-7 col-xs-12" name="razonSocial" value="{{obj.RazonSocial}}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idGiro">Giro <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="idGiro" name="idGiro" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a id="action" class="btn btn-default submit">Grabar</a>
                                    <a id="cancel" class="btn btn-default submit">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var clienteId = "{{usuarioId}}";
    var empresaId = "{{sesionActiva.IdEmpresa}}";
</script>
{{#extend "js"}}
<script src="/assets/parsleyjs/dist/parsley.js"></script>
<script>
    $(document).on("ready", function () {
        init_parsley();

        $("#idUsuario").val(clienteId);
        $("#IdEmpresa").val(empresaId);

        //leerGiros();
        if (clienteId > 0) {
            leerUsuario();
        }
    });

    function leerGiros() {
        var svcGetGiros = $.ajax({ type: "GET", url: "/api/tablamaestra/combo?idTabla=" + "2" });
        svcGetGiros.done(function (data, textStatus, jqXHR) {
            if (data.ok) {
                var obj = data.data[0];
                //alert(JSON.stringify(data.data));
                $("#idGiro option").remove();
                $.each(data.data, function(i, item) {
                    $("#idGiro").append(new Option(item.Descripcion, item.IdColumna));
                });
            }
        });
        svcGetGiros.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error("Error al obtener los datos del cliente.");
        });
    }

    function leerUsuario() {
        var svc0 = $.ajax({ type: "GET", url: "/api/usuario/get?Id=" + usuarioId });
        svc0.done(function (data, textStatus, jqXHR) {
            if (data.ok) {
                var obj = data.data[0];
                $("#idUsuario").val(obj.Idusuario);
                $("#RUC").val(obj.RUC);
                $("#razonSocial").val(obj.RazonSocial);
                $("#idGiro").val(obj.IdGiro);
            }
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error("Error al obtener los datos del usuario.");
        });
    }

    function init_parsley() {
        if (typeof (parsley) === 'undefined') { return; }

        var validateFront = function () {
            if (true === $('#Info').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };

        $/*.listen*/('parsley:field:validate', function () {
            validateFront();
        });

        $('#Info .btn').on('click', function () {
            $('#Info').parsley().validate();
            validateFront();
        });

        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }

    }

    function validarCampos() {
        if ($('#RUC').val() == '' || $('#razonSocial').val() == '' || $('#idGiro').val() == '') {
            return true;
        }
        else {
            return false;
        }
    }

    $("#action").on("click", function () {
        if (validarCampos())
            return;

        var data = $("#formInfo").serializeArray();

        $.post("/api/usuario/reg", data, function (result) {
            if (result.ok){
                toastr.success(result.message, '', { timeOut: 700 });
                setTimeout(function () { window.location.href = "/usuarios/listar" }, 700);
            }
            else{
                toastr.error(result.message);
            }
        });
    })

    $('#cancel').on("click", function () {
        window.location.href = "/usuarios/listar";
    });
</script>
{{/extend}}