{{#extend "css"}}
{{/extend}}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <form id="formInfo">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información de Usuario</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="Info" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" id="idUsuario" name="idUsuario" value="{{obj.IdUsuario}}" />
                            <input type="hidden" id="idEmpresa" name="idEmpresa" value="{{obj.IdEmpresa}}" />                            
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuario">Usuario <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="usuario" name="usuario" class="form-control col-md-7 col-xs-12" value="{{obj.Usuario}}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idPerfil">Perfil <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="idPerfil" name="idPerfil" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="apellidoPaterno">Apellido Paterno <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="apellidoPaterno" name="apellidoPaterno" class="form-control col-md-7 col-xs-12" value="{{obj.ApellidoPaterno}}" required="required" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="apellidoMaterno">Apellido Materno <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="apellidoMaterno" name="apellidoMaterno" class="form-control col-md-7 col-xs-12" value="{{obj.ApellidoMaterno}}" required="required" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombres">Nombres <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="nombres" name="nombres" class="form-control col-md-7 col-xs-12" value="{{obj.Nombres}}" required="required" />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button id="grabar" class="btn btn-default">Grabar</button>
                                    <button id="cancelar" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var usuarioId = "{{usuarioId}}";
</script>
{{#extend "js"}}
<script src="/assets/parsleyjs/dist/parsley.js"></script>
<script>
    $(document).on("ready", function () {
        init_parsley();

        $("#idUsuario").val(usuarioId);
        $("#idEmpresa").val(g_empresaId);

        $("#grabar").on("click", grabar_click);
        $("#cancelar").on("click", cancelar_click);

        $("#Usuario").trigger("focus");

        leerPerfiles();
        if (usuarioId > 0) {
            $("#usuario").attr("readonly", "readonly");
            leerUsuario();
        }
    });

    function leerPerfiles() {
        var svc0 = $.ajax({ 
            type: "GET", 
            url: PREFIJO_SERVICIO + "tablamaestra/combo?idTabla=" + TM_PERFILES + "&idEmpresa=" + g_empresaId,
            cache: false
        });
        svc0.done(function (result, textStatus, jqXHR) {
            if (result.ok) {
                var obj = result.data[0];
                $("#idPerfil option").remove();
                $.each(result.data, function(i, item) {
                    $("#idPerfil").append(new Option(item.Descripcion, item.IdColumna));
                });
            }
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function leerUsuario() {
        var svc0 = $.ajax({ 
            type: "GET", 
            url: PREFIJO_SERVICIO + "usuario/get?Id=" + usuarioId + "&idEmpresa=" + g_empresaId,
            cache: false
        });
        svc0.done(function (result, textStatus, jqXHR) {
            if (result.ok) {
                var obj = result.data[0];
                $("#idUsuario").val(obj.IdUsuario);
                $("#apellidoPaterno").val(obj.ApellidoPaterno);
                $("#apellidoMaterno").val(obj.ApellidoMaterno);
                $("#nombres").val(obj.Nombres);
                $("#usuario").val(obj.Usuario);
                $("#idPerfil").val(obj.IdPerfil);

                $("#usuario").trigger("focus");
            }
        });
        svc0.fail(function (jqXHR, textStatus, errorThrown) {
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function init_parsley() {
        if (typeof (parsley) === 'undefined') { return; }

        var validateFront = function () {
            if (true === $('#Info').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };

        $/*.listen*/('parsley:field:validate', function () {
            validateFront();
        });

        $('#Info .btn').on('click', function () {
            $('#Info').parsley().validate();
            validateFront();
        });

        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }

    }

    function validarCampos() {
        if ($('#RUC').val() == '' || $('#razonSocial').val() == '' || $('#idGiro').val() == '') {
            return true;
        }
        else {
            return false;
        }
    }

    function grabar_click(event) {
        event.preventDefault();
        if (validarCampos())
            return;

        var formData = $("#formInfo").serializeArray();

        var svc0 = $.ajax({
            type: "POST", 
            url: PREFIJO_SERVICIO + "usuario/reg",
            data: formData
        });
        svc0.done(function(result, textStatus, jqXHR) {
            if (result.ok) {
                toastr.success(result.message, '', { timeOut: tst_Duration });
                setTimeout(function () { window.location.href = "/usuarios/listar" }, tst_Duration);
            }
            else{
                toastr.error(result.message);
            }
        });
        svc0.fail(function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus);
            toastr.error(ERROR_NO_SERVICIO);
        });
    }

    function cancelar_click(event) {
        event.preventDefault();
        window.location.href = "/usuarios/listar";
    }
</script>
{{/extend}}